.color {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

#pixel-board{
  width: 25%;

}

.pixel {

  display: inline-block;
  width: 80px;
  height: 80px;
 border: 3px solid black;

}